/* visual */
.title {
  text-align: center;
  font-size: 28px;
  color: #fff;
  font-weight: 600;
  line-height: 128px;
}

.fade_in {
  opacity: 0;
}

/* intro */
.intro {
  position: relative;
  margin-top: 300px;
}

.intro h2 {
  position: absolute;
  left: 0;
  top: 120px;
  text-align: left;
  font-size: 32px;
  color: rgba(255, 255, 255, 0);
  font-weight: 600;
}

.sub {
  position: absolute;
  left: 0;
  top: 168px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0);
  font-weight: lighter;
}

.about_img {
  width: 512px;
  height: 450px;
  margin: 700px 0 100px 0;
  /*    margin: 0px 0 0px 0;*/
}

.about_right {
  /*    float: right;*/
  margin: 760px 0 100px 0px;
  /*    margin: 0px 0 0px 0px;*/
}

.about_title {
  font-size: 24px;
  font-weight: 700;
  color: #a3d4e2;
  text-align: right;
  margin-right: 10px;
}

.about_title.text-start.text-white.mt-4.my-3 {
  font-size: 21px;
  font-weight: 700;
  color: #a3d4e2;
  text-align: right;
  margin-right: 10px;

}

.about_text {
  font-size: 12px;
  color: #fff;
  text-align: right;
  /*    background: rgba(0, 0, 0, 0.5);*/
  line-height: 20px;
  /*    border: 1px solid #000;*/
  /*    padding: 30px 10px 10px 20px;*/
  /*    margin-top: -15px;*/
}

.about_btn {
  position: relative;
  float: right;
  margin: 30px 0px;
  width: 240px;
  height: 32px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.5);
}

.about_btn a {
  display: block;
  width: 240px;
  height: 32px;
}

.about_btn span {
  display: block;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #fff;
  font-weight: 500;
}

.about_btn img {
  display: block;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 12px;
}

.white_paper {

  font-size: 1rem;
}

/* history */
.history_wrap {
  background: rgba(255, 255, 255, 1.0);
  /*    padding-bottom: 64px;*/
  margin-top: 430px;
}

#m_visual > .history_wrap.wrap_width > div > .animate__animated {
  text-shadow: 1px 1px 3px #999999;
}

.history {
  color: #fff;
}

.history_list {
  position: relative;
}

.history_list::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background: #fff;
}

.yyyy p {
  font-size: 18px;
  margin: 0 16px 8px 16px;
  font-weight: bold;
  position: relative;
}

.history_right p::before {
  content: "";
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 1px;
  background: #fff;
}

.history_left p::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 1px;
  background: #fff;
}

.mm_text > li {
  font-size: 13px;
  line-height: 24px;
  font-weight: lighter;
}

.mm_text span {
  font-size: 15px;
  margin: 0 16px;
}

.text_none {
  color: transparent;
}

.yyyy > li {
  width: 612px;
  padding-bottom: 16px;
}

.history_right {
  text-align: right;
}

.history_left {
  text-align: left;
  margin-left: 612px;
}

/* we make */
.make_list {
  height: 160px;
}

.make_list li {
  width: 180px;
  float: left;
  margin-left: 171px;
}

.make_list li:last-child {
  margin-right: 171px;
}

.make_title {
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 54px;
}

.make_text {
  font-size: 13px;
  color: #fff;
  text-align: center;
  margin-top: 17px;
}

.make img {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

/* news */
.news_list {
  height: 234px;
}

.news_list li {
  width: 180px;
  float: left;
  margin-left: 171px;
}

.news_list li:last-child {
  margin-right: 171px;
}

.news_list img {
  display: block;
  width: 180px;
  height: 180px;
  margin: 0 auto;
}

.news_title {
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 54px;
}

/* contact us */
.map a {
/*  display: block;*/
  width: 720px;
  height: 420px;
  margin: 0 auto;
}

.map img {
  display: block;
  width: 720px;
  height: 420px;
  margin: 0 auto;
  border: 1px solid #fff;
}

.map span {
  display: block;
  text-align: center;
  font-size: 13px;
  color: #fff;
  line-height: 48px;
}

/* career */
.career {
  position: relative;
  height: 420px;
  background: rgba(0, 0, 0, 1);
}

.career_box img {
  display: block;
  margin: 0 auto;
  width: 1920px;
  height: 420px;
}

.career .title {
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  z-index: 5;
}

.career_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
  text-align: center;
  z-index: 5;
}

.career_btn {
  position: absolute;
  left: 50%;
  bottom: 54px;
  transform: translateX(-50%);
  width: 200px;
  height: 42px;
  border: 1px solid #fff;
  z-index: 5;
}

.career_btn a {
  display: block;
  width: 200px;
  height: 42px;
}

.career_btn span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  color: #fff;
  text-align: center;
  z-index: 5;
}

.lang {
  float: right;
  height: 24px;
  margin: 20px 0;
}

.lang > a {
  display: block;
  float: right;
  width: 38px;
  height: 24px;
}

.lang > a img {
  display: block;
  width: auto;
  height: 24px;
}

.lang_list {
  float: right;
  display: block;
  height: 24px;
}

.lang_list li {
  float: left;
  display: block;
  color: #fff;
  opacity: 0;
  font-size: 16px;
  margin-right: 24px;
  line-height: 24px;
}

.lang_list li a {
  display: block;
}

.lang_list li a:hover {
  color: rgba(60, 79, 109, 1);
}

.lang_en a {
  color: white;
}

.lang_kr a {
  color: white;
}

.border_solid {
  border-bottom: 1px solid;
  border-color: #999999;
}

.cursor-pointer {
  cursor: pointer !important;
}

.fs-7 {
  font-size: 0.75rem !important;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.bg_shadow {
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(297deg, rgba(255, 255, 255, .0), rgba(21, 11, 0, .8) 79.71%);
  filter: brightness(100%);
}


.bg_image {
  background: url(../img/bg2.jpg) no-repeat;
  /*    background-color: rgba(0, 0, 0, 0.5);*/
  /*    background-blend-mode: multiply;*/
  box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
  background-position-y: 10%;
  height: 400px;
}

.text_shadow {
  /* offset-x | offset-y | blur-radius | color */
  text-shadow: 1px 1px 7px black;
}

.disc {
  list-style: disc !important;
}

.disc > li {
  list-style: disc;
}

.header_gnb {
  height: 70px;
}

.all-center {
  display: block;
  text-align: center;
  margin: 0px auto;
  place-items: center;
}

.video-holder {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  border-radius: 10%;
  transform: translateZ(0);
  width: 23vw;
  height: 23vw;
  margin-right: auto;
  margin-top: 5px;
}

.bloom {
  font-size: 70px;
  color: white;
  position: absolute;
  top: 88%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate3d(-50%, -50%, 0);
  font-weight: bold;
}

.nav-link.border.text-dark.active {
  background-color: #333333;
  color: white !important;
  font-weight: bold;
}

.bg-namok {
  background-color: #F2F2F2;
}

.text-namokblue {
  color: #002E7E;
}

.border_namokblue {
  border-color: #002E7E;
}

.text-decoration-underline {
  text-underline-position: under;
}

.py-2half {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}


.border.bg-white.py-2half.px-4 {
  font-size: 13px;
}

.border.bg-white.py-2half.px-4:hover {
  background-color: #002E7E !important;
  color: white;
  font-weight: bold
}

.intro_image {
    left: -1486px;
    width: 2520px;
    margin-top: -310px;
    position: relative;
    z-index: 10;
}


.intro_image2 {
  left: -1500px;
  width: 1920px;
  top: -170px;
  position: relative;
  z-index: 10;
}

.fc-707070 {
  color: #707070;
}

/* 숨기려는 버튼을 골라서 쓰자 */
/* 전체화면 버튼 */
video::-webkit-media-controls-fullscreen-button {}

/* 일시정지, 재생 버튼 */
video::-webkit-media-controls-play-button {}

/* 재생 슬라이드..? */
video::-webkit-media-controls-timeline {}

/* 현재 진행 시간 */
video::-webkit-media-controls-current-time-display {}

/* 전체 시간 */
video::-webkit-media-controls-time-remaining-display {}

/* 음소거 버튼 */
video::-webkit-media-controls-mute-button {}

/* 볼륨 조절 슬라이드 */
video::-webkit-media-controls-volume-slider {}

.about_namok_title {

  margin-top: 14rem;
  color: #333333 !important;
  font-size: 70px
}

.bg-333333 {
  background-color: #333333;
}

@media all and (max-width: 1300px) {

  /*
  .history_wrap {
     background: white; 
     padding-bottom: 64px; 
    margin-top: 330px;
}
*/
  .history_wrap {
    background: rgba(255, 255, 255, 1.0);
    /* padding-bottom: 64px; */
    margin-top: 300px;
  }

  .about_namok_title {
    margin-top: -5rem;
    color: #333333 !important;
    font-size: 55px;
    position: absolute;
  }

  .video-holder {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    border-radius: 10%;
    transform: translateZ(0);
    width: 40vw;
    height: 40vw;
    margin-right: auto;
    justify-content: center;
  }

  .bloom {
    font-size: 70px;
    color: white;
    position: absolute;
    top: 90%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate3d(-50%, -50%, 0);
    font-weight: bold;
  }
}


@media all and (max-width: 900px) {
  .video-holder {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    border-radius: 0%;
    transform: translateZ(0);
    width: 100vw;
    height: 100vw;
    margin-right: auto;
    justify-content: center;
  }

  .bloom {
    font-size: 70px;
    color: white;
    position: absolute;
    top: 90%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate3d(-50%, -50%, 0);
    font-weight: bold;
  }

}

@media all and (max-width: 900px) {

  .nav-link.text-dark.active {
    background-color: #333333;
    color: white !important;
    font-weight: bold;
    border-radius: 0px;
  }

  .news-wrap {
    margin: 10px auto;
    border: 1px solid #000000;
    position: relative;
  }

  .news-wrap img {
    width: 100%;
  }

  .news-text {
    position: absolute;
    top: 70%;
    left: 35%;
    transform: translate(-50%, -50%);
  }

}

/*

.dropmenu span .sub-title{
background: red;
display:none; 
height:auto;
border:0px;
position:absolute;
z-index:200;
}

.dropmenu span:hover .sub-title{
display:block;
}*/




.dropmenu span:nth-child(1) .sub-title {
  background: white;
  display: none;
  height: auto;
  border: 0px;
  position: absolute;
  z-index: 200;
  padding: 10px;
  text-align: left;
}

.dropmenu span:nth-child(2) .sub-title {
  background: white;
  display: none;
  height: auto;
  border: 0px;
  position: absolute;
  z-index: 200;
  padding-left: 85px;
  padding: 10px;
  text-align: left;

}


.dropmenu span:nth-child(3) .sub-title {
  background: white;
  display: none;
  height: auto;
  border: 0px;
  position: absolute;
  z-index: 200;
  padding-left: 200px;
  padding: 10px;
  text-align: left;

}


.dropmenu span:nth-child(4) .sub-title {
  background: white;
  display: none;
  height: auto;
  border: 0px;
  position: absolute;
  z-index: 200;
  padding-left: 300px;
  padding: 10px;
  text-align: left;

}


.dropmenu span:nth-child(5) .sub-title {
  background: white;
  display: none;
  height: auto;
  border: 0px;
  position: absolute;
  z-index: 200;
  padding-left: 395px;
  padding: 10px;
  text-align: left;

}


.dropmenu span:nth-child(6) .sub-title {
  background: white;
  display: none;
  height: auto;
  border: 0px;
  position: absolute;
  z-index: 200;
  padding-left: 495px;
  padding: 10px;
  text-align: left;

}

.dropmenu span:hover .sub-title {
  display: block;
  width: 100%;
  left: 0;
  min-height: 150px;
  padding-top: 10px;
}